*,
*::before,
*::after {
  /* makes padding calculated withing width parameters */
  box-sizing: border-box;
}

/* Custom Properties, update these for your own design */
:root {
  font-size: 12px;

  --fw-reg: 400;
  --fw-bold: 700;

  --fs-h1: 2.5rem;
  --fs-h2: 2rem;
  --fs-h3: 1.75rem;
  --fs-h4: 1.5rem;
  --fs-body: 1rem;

  /* blend 2 shadows for realism */
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 760px) {
  :root {
    --fs-h1: 3rem;
    --fs-h2: 2.5rem;
    --fs-h3: 2rem;
    --fs-h4: 1.75rem;
    --fs-body: 1.125rem;
  }
}

/* @media (min-width: 980px) {
  :root {
    --fs-h1: 4rem;
    --fs-h2: 3rem;
    --fs-h3: 2.5rem;
    --fs-h4: 2rem;
    --fs-body: 1.2rem;
  }
} */

html {
  scroll-behavior: smooth;
}

body {
  background: rgb(223, 176, 59);
  line-height: 1.3;
  margin: 0;
  font-size: var(--fs-body);
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

p {
  font-size: var(--fs-body);
}

.header {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 0.5rem;
  background-color: firebrick;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  text-align: center;
}

.header > * {
  padding: 0;
  margin: 0 1rem;
}

.header h1 svg {
  margin-right: 1rem;
  margin-bottom: -0.35rem;
}

.header p svg {
  height: 30px;
  width: 30px;
  margin-bottom: -0.8rem;
}

.map {
  width: 95%;
  height: 85vh;
  max-width: 1800px;
  margin: 2.5rem auto 0;
  border: 1px solid grey;
  border-radius: 5px;
}

.map > * > * {
  border-radius: 5px;
}

.location-icon {
  font-size: 2rem;
  color: red;
}

.location-icon:hover {
  cursor: pointer;
}

.location-info {
  position: absolute;
  top: 7.5rem;
  left: 5%;
  width: 40%;
  min-width: 20rem;
  max-width: 30rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  font-size: 1.5rem;
  color: #fff;
}

.location-info h2 {
  margin: 0.5rem 0;
  border-bottom: 1px solid grey;
}

.location-info ul {
  list-style-type: none;
  padding: 0 1rem;
}

.location-info li {
  line-height: 1rem;
  padding: 1rem 0;
}

.location-info li:last-child {
  padding: 1rem 0 0 0;
}

.location-info p {
  margin: 0;
}

.location-info .close-box {
  text-align: right;
  opacity: 0.75;
  padding: 0 0.7rem;
  margin: -0.7rem;
  cursor: pointer;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.loader img {
  width: 90vw;
}

.loader h1 {
  margin-top: 10px;
}
